.header
{
    width: 100%;
    height: 200px;
    text-align: center;
    background: blueviolet;
    color: white;
    animtaion: myframes 500ms ease-in-out 0s normal forwards running;
}

@keyframes myframes {
    from {
        background-color: blueviolet;
    }
    to
    {
        background-color: blue;
    }
}